.metadata-watcher-group {
  border-top: 1px solid var(--background-modifier-border);
  padding-top: 20px;
  padding-bottom: 5px;
}

.mod-setting-tabs {
  display: flex;
  gap: 10px;
}

.setting-item {
  padding-top: 10px;
}

.mod-setting-tabs button {
  padding: 10px;
  cursor: pointer;
}

.suggestion-content {
  /* Style for suggestion content */
}

.donate-section {
  border-top: 1px solid var(--background-modifier-border);
  margin-top: 20px;
  text-align: center;
}

.donate-section p {
  font-size: 14px;
  margin-bottom: 10px;
}

.donate-section a img {
  height: 50px !important;
  width: 217px !important;
}

.donate-img {
  height: 50px !important;
  width: 217px !important;
}
