/* styles.css */
.metadata-watcher-group {
    border-top: 1px solid var(--background-modifier-border);
    padding-top: 20px;
    padding-bottom: 5px;
  }
  
  .mod-setting-tabs {
    display: flex;
    gap: 10px;
  }
  
  .mod-setting-tabs button {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestion-content {
    /* Style for suggestion content */
  }
  